@import 'bootstrap/dist/css/bootstrap';


.navbar {
  background-color: black !important;
}



.nav-link {
    color: white !important;
}
  
.navbar-brand {  
  font-size: 3rem;
  color: white;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
h1 {  
  color: white;
}

// p {
//     color: white;
    
// }

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.container {
    padding-top: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
